<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <php>
        <server name="KERNEL_DIR" value="tests/App" />
        <server name="KERNEL_CLASS" value="Kernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1" />
    </php>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <testsuites>
        <testsuite name="OneupFlysystemBundle test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
